body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
header,
footer,
section,
div,
h2 {
  margin: 0 auto;
}
img {
  border: 0;
}
header .logo {
  position: absolute;
  left: 20px;
  top: 20px;
}
@media screen and (max-width: 1000px) {
  header .logo {
    left: 1vw;
    top: 1vh;
  }
}
header .logo img {
  width: 300px;
}
@media screen and (max-width: 1000px) {
  header .logo img {
    width: 32vw;
    min-width: 165px;
  }
}
header .universe {
  position: absolute;
  right: 40px;
  top: 20px;
  color: #FFF;
  opacity: 0.9;
  font-size: 28px;
}
@media screen and (max-width: 1000px) {
  header .universe {
    font-size: 18px;
    top: 2vh;
    right: 1vw;
  }
}
.movies article {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  color: #EEE;
  height: 100vh;
  width: 100vw;
  position: fixed;
  -webkit-transition: -webkit-transform 0.9s ease-out;
  transition: transform 0.9s ease-out;
  z-index: -3;
}
.movies article h2 {
  font-size: 58px;
  float: left;
  max-width: 380px;
  text-align: left;
  margin-top: 35vh;
  margin-left: 11%;
}
@media screen and (max-width: 1000px) {
  .movies article h2 {
    float: none;
    max-width: 85%;
    font-size: 40px;
    margin-top: 23vh;
    margin-left: 9%;
  }
}
@media screen and (max-width: 320px) {
  .movies article h2 {
    margin-top: 14vh;
    font-size: 24px;
  }
}
.movies article,
.movies article.at-left {
  -webkit-transform: translate(-100vw);
  transform: translate(-100vw);
}
.movies article.at-right {
  -webkit-transform: translate(100vw);
  transform: translate(100vw);
}
.movies article.active {
  -webkit-transform: none;
  transform: none;
  z-index: -2;
}
.movies article.iron-man {
  background-image: url("../images/iron-man.jpg");
}
.movies article.hulk {
  background-image: url("../images/hulk.jpg");
}
.movies article.hulk h2 {
  margin-top: 30vh;
}
@media screen and (max-width: 1000px) {
  .movies article.hulk h2 {
    margin-top: 19vh;
  }
}
.movies article.iron-man-2 {
  background-image: url("../images/iron-man-2.jpg");
}
.movies article.thor {
  background-image: url("../images/thor.jpg");
}
.movies article.captain {
  background-image: url("../images/captain.jpg");
}
.movies article.captain h2 {
  font-size: 49px;
  max-width: 400px;
  margin-left: 9%;
}
@media screen and (max-width: 1000px) {
  .movies article.captain h2 {
    max-width: 80%;
    font-size: 34px;
  }
}
@media screen and (max-width: 320px) {
  .movies article.captain h2 {
    font-size: 24px;
  }
}
.movies article.avengers {
  background-image: url("../images/avengers.jpg");
}
.movies article.iron-man-3 {
  background-image: url("../images/iron-man-3.jpg");
}
.movies article.thor-2 {
  background-image: url("../images/thor-2.jpg");
}
.movies article.captain-2 {
  background-image: url("../images/captain-2.jpg");
}
.movies article.captain-2 h2 {
  font-size: 49px;
  max-width: 430px;
  margin-left: 9%;
}
@media screen and (max-width: 1000px) {
  .movies article.captain-2 h2 {
    max-width: 80%;
    font-size: 34px;
  }
}
@media screen and (max-width: 320px) {
  .movies article.captain-2 h2 {
    font-size: 24px;
  }
}
.movies article.avengers-2 {
  background-image: url("../images/avengers-2.jpg");
}
.movies article .intro {
  float: right;
  width: 40%;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  margin-right: 4vw;
  margin-top: 30vh;
  background-color: rgba(120, 120, 120, 0.2);
  padding: 6px 12px;
  border-radius: 10px;
  text-indent: 1.5em;
}
@media screen and (max-width: 1000px) {
  .movies article .intro {
    float: none;
    margin: 0 auto;
    width: 98%;
    box-sizing: border-box;
    margin-top: 5vh;
    line-height: 24px;
  }
}
@media screen and (max-width: 320px) {
  .movies article .intro {
    margin-top: 2vh;
    line-height: 22px;
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .chronology-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .chronology-nav ul li {
  float: left;
  width: 10%;
  line-height: 56px;
  cursor: pointer;
  color: #EEE;
  position: relative;
}
@media screen and (max-width: 1000px) {
  footer .chronology-nav ul li {
    width: 90px;
    right: -90px;
    line-height: 50px;
    color: #FFF;
    margin-top: 3px;
  }
}
footer .chronology-nav ul li:after {
  content: "";
  opacity: 0.3;
  box-sizing: border-box;
  background-color: #555;
  border: solid 1px #999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  footer .chronology-nav ul li:after {
    border-radius: 4px;
    opacity: 0.9;
    background-color: #10c04c;
  }
}
footer .chronology-nav ul li.active:after {
  opacity: 0.5;
}
footer .chronology-nav ul li:hover:after {
  opacity: 0.6;
}
footer .chronology-nav ul li.show {
  right: 2px;
}
@media screen and (max-width: 1000px) {
  footer .chronology-nav ul {
    width: 90px;
    position: fixed;
    right: 0px;
    bottom: 75px;
  }
}
footer .chronology-nav .menu {
  display: none;
}
@media screen and (max-width: 1000px) {
  footer .chronology-nav .menu {
    display: block;
    color: #EEE;
    font-size: 24px;
    padding: 10px;
    border: solid 1px #EEE;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    background-color: rgba(88, 88, 88, 0.6);
  }
}
.chronology-nav ul li.show:nth-child(1) {
  -webkit-transition: right 90ms ease-in-out 360ms;
  transition: right 90ms ease-in-out 360ms;
}
.chronology-nav ul li:nth-child(1) {
  -webkit-transition: right 90ms ease-in-out 40ms;
  transition: right 90ms ease-in-out 40ms;
}
.chronology-nav ul li.show:nth-child(2) {
  -webkit-transition: right 90ms ease-in-out 320ms;
  transition: right 90ms ease-in-out 320ms;
}
.chronology-nav ul li:nth-child(2) {
  -webkit-transition: right 90ms ease-in-out 80ms;
  transition: right 90ms ease-in-out 80ms;
}
.chronology-nav ul li.show:nth-child(3) {
  -webkit-transition: right 90ms ease-in-out 280ms;
  transition: right 90ms ease-in-out 280ms;
}
.chronology-nav ul li:nth-child(3) {
  -webkit-transition: right 90ms ease-in-out 120ms;
  transition: right 90ms ease-in-out 120ms;
}
.chronology-nav ul li.show:nth-child(4) {
  -webkit-transition: right 90ms ease-in-out 240ms;
  transition: right 90ms ease-in-out 240ms;
}
.chronology-nav ul li:nth-child(4) {
  -webkit-transition: right 90ms ease-in-out 160ms;
  transition: right 90ms ease-in-out 160ms;
}
.chronology-nav ul li.show:nth-child(5) {
  -webkit-transition: right 90ms ease-in-out 200ms;
  transition: right 90ms ease-in-out 200ms;
}
.chronology-nav ul li:nth-child(5) {
  -webkit-transition: right 90ms ease-in-out 200ms;
  transition: right 90ms ease-in-out 200ms;
}
.chronology-nav ul li.show:nth-child(6) {
  -webkit-transition: right 90ms ease-in-out 160ms;
  transition: right 90ms ease-in-out 160ms;
}
.chronology-nav ul li:nth-child(6) {
  -webkit-transition: right 90ms ease-in-out 240ms;
  transition: right 90ms ease-in-out 240ms;
}
.chronology-nav ul li.show:nth-child(7) {
  -webkit-transition: right 90ms ease-in-out 120ms;
  transition: right 90ms ease-in-out 120ms;
}
.chronology-nav ul li:nth-child(7) {
  -webkit-transition: right 90ms ease-in-out 280ms;
  transition: right 90ms ease-in-out 280ms;
}
.chronology-nav ul li.show:nth-child(8) {
  -webkit-transition: right 90ms ease-in-out 80ms;
  transition: right 90ms ease-in-out 80ms;
}
.chronology-nav ul li:nth-child(8) {
  -webkit-transition: right 90ms ease-in-out 320ms;
  transition: right 90ms ease-in-out 320ms;
}
.chronology-nav ul li.show:nth-child(9) {
  -webkit-transition: right 90ms ease-in-out 40ms;
  transition: right 90ms ease-in-out 40ms;
}
.chronology-nav ul li:nth-child(9) {
  -webkit-transition: right 90ms ease-in-out 360ms;
  transition: right 90ms ease-in-out 360ms;
}
.chronology-nav ul li.show:nth-child(10) {
  -webkit-transition: right 90ms ease-in-out 0ms;
  transition: right 90ms ease-in-out 0ms;
}
.chronology-nav ul li:nth-child(10) {
  -webkit-transition: right 90ms ease-in-out 400ms;
  transition: right 90ms ease-in-out 400ms;
}
